# Python
__pycache__/
*.py
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
.vercel/
